/*

Visually Hidden
===============

Hide content visually, but have it available for screenreaders.

This is the approach taken from HTML5 Boilerplate via Jonathan Snook:
http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

Usage: `.element { @extend %visually-hidden; }`

*/
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
