// Primary shades (blue)
$color-primary-darkest: #003178;
$color-primary-dark: #0050C6;
$color-primary-medium: #1F71E9;
$color-primary-light: #9BC4FF;
$color-primary-lighter: #DDEBFF;
$color-primary-lightest: #F4F8FF;
