/*

Typography
==========

```
<h1>Heading 1</h1>
<h2>Heading 2</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et
metus sit amet nunc cursus facilisis at vel erat. Nullam blandit neque
rhoncus convallis lobortis. Praesent scelerisque, lorem nec mattis auctor,
lorem urna pharetra ex, in interdum leo diam in lacus.</p>

<ol>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>

<ul>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>

<dl>
  <dt>Term</dt>
  <dd>Definition</dd>
  <dd>Definition</dd>
</dl>
```

*/
body {
  @extend %font-family-body;
  @include font-size(1.5rem);
  color: $color-secondary-dark;
  font-weight: 300;

  @include at($desktop-max) {
    @include font-size(1.7rem);
  }
}

// Headings
h1, .h1, h2, .h2 {
  @extend %font-family-brand;
  @include font-size(4rem);
  color: $color-primary-medium;
  margin: 0 0 2rem;
  word-break: break-word;
  word-wrap: break-word;

  @include at($handheld-med) {
    @include font-size(4.5rem);
  }
  @include at($desktop-med) {
    @include font-size(5rem);
  }
}
h1, .h1 {
  font-weight: 500;

  @include languages('bg', 'ru', 'uk') {
    font-weight: 700;
  }
}
h2, .h2 {
  font-weight: 300;
}

// Input fields
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend %font-family-brand;
  @include font-size(1.4rem);
  font-weight: 300;
}

// Lists
ul, ol, dl {
  padding: 0;
  margin: 0 0 2rem;
}
ol li, ul li {
  list-style-position: outside;
  padding: 0;
  margin: 0 0 1rem;
}
dl dt {
  font-weight: 500;
  padding: 0;
  margin: 0;
}
dl dd {
  padding: 0;
  margin: 0 0 1rem;
}

// Block-level text
p {
  margin: 0 0 3rem;
}
address {
  font-style: normal;
}

// Emphasised and strong
b, em, strong {
  @extend %font-family-brand;
  color: $color-primary-medium;
  font-weight: normal;
}

// Tables
td {
  padding: .5rem;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

// Brand
.brand {
  @extend %font-family-brand;
  color: $color-tertiary-medium;
  font-weight: normal;
}
